doctype html5
html
head
title Test Page

body
    .error # { message }
form(action = '/user/login' method='POST')
label Username
input(type = 'username' name='username')
label Password
input(type = 'password' name='password')
input(type = 'submit' value='Submit')